@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Vast+Shadow&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600&display=swap');
* {
    margin: 0;
    padding: 0;
}



section#morango h1 {
    background-color: rgba(255, 255, 255, 0.479);
    padding: 20px;
    font-family: 'Vast Shadow', cursive;
    font-size: 3em;
    color:  black;
    text-shadow: 4px 2px 1px  rgb(255, 5, 5);
    position: relative;
    top: 40vh;
    border: 3px solid rgb(7, 184, 7);
    display: inline;
    border-radius: 100px;
    
}

section{
    
    min-width: 700px;
   font-size: 2.vw;
    
}

section#intro {
    height: 100vh;
    background: url(imagens/fundo.jpg) fixed;
    padding-top: 25px;
    opacity: 0.7;
}
section#intro div {
    height: 90vh;
    width: 700px;
    background-color: white;
    margin:  auto;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 1.5em;
    text-align: justify;
    border-radius: 50px;
    border: 1px solid black;
    box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.308);
}

section#intro h1{
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    text-align: center;
    font-size: 3.2vh;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.274);
}

section#intro p{
    font-family: 'Montserrat', sans-serif;
    font-size: 3.1vh;
    font-weight: 400;
    line-height: 1.3em;
    text-align: justify;
    max-height: 600px;
}

section.normal {
    padding-top: 30px;
    width: 660px;
        
}

section.imagem {
    width: 100%;
    
}

.imagem#morango {
    padding-top: 30px;
    height: 100vh;
    background: url(imagens/morango.jpg) no-repeat fixed;
    background-size: cover;
}

div {
    text-align: center;
    
}

.normal {
    margin: 0 auto;
    min-width: 600px;
    padding: 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 3vw;
    font-weight: 400;
    line-height: 1.2em;
    text-align: justify;
}

.imagem {
    background-size: 100%;
}

h2 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight:bold;
    padding-bottom: 20px;
    color: rgb(219, 4, 4);
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.329);
}

li{
    padding-bottom: 20px;
}

.imagem#banana {
    padding-top: 30px;
    height: 100vh;
    background: url(imagens/banana-nova.jpg) no-repeat fixed center;
    background-size: cover;
    
}
section#banana h1 {
    background-color: rgba(255, 255, 255, 0.479);
    padding: 20px;
    font-family: 'Vast Shadow', cursive;
    font-size: 3em;
    color:  black;
    text-shadow: 4px 2px 1px  rgb(221, 207, 8);
    position: relative;
    top: 40vh;
    border: 3px solid rgb(0, 0, 0);
    display: inline;
    border-radius: 100px;
}



.imagem#uva {
    padding-top: 30px;
    height: 100vh;
    background: url(imagens/uva.jpg) no-repeat fixed  center center;
    background-size: cover;
}

section#uva h1 {
    background-color: rgba(255, 255, 255, 0.479);
    padding: 20px;
    font-family: 'Vast Shadow', cursive;
    font-size: 3em;
    color:  black;
    text-shadow: 4px 2px 1px  purple;
    position: relative;
    top: 40vh;
    border: 3px solid rgb(4, 158, 29);
    display: inline;
    border-radius: 100px;
}

.imagem#limao {
    padding-top: 30px;
    height: 100vh;
    background: url(imagens/limao.jpg) no-repeat fixed center top;
    background-size: cover;
}

section#limao h1 {
    background-color: rgba(255, 255, 255, 0.479);
    padding: 20px;
    font-family: 'Vast Shadow', cursive;
    font-size: 3em;
    color:  black;
    text-shadow: 4px 2px 1px  rgb(0, 128, 6);
    position: relative;
    top: 40vh;
    border: 3px solid rgb(4, 158, 29);
    display: inline;
    border-radius: 100px;
}

.imagem#laranja {
    padding-top: 30px;
    height: 100vh;
    background: url(imagens/laranja.jpg) no-repeat fixed center center;
    background-size: cover;
}

section#laranja h1 {
    background-color: rgba(255, 255, 255, 0.479);
    padding: 20px;
    font-family: 'Vast Shadow', cursive;
    font-size: 3em;
    color:  black;
    text-shadow: 4px 2px 1px  rgb(226, 140, 11);
    position: relative;
    top: 40vh;
    border: 3px solid rgb(241, 115, 12);
    display: inline;
    border-radius: 100px;
}

footer {
    background-color: white;
}

h3 {   
    background-color: rgba(0, 0, 0, 0.555);
    color: white;
    text-align: center;
    padding: 5px;
    text-shadow: 1px 1px 2px black;
}